<div class="cn-home__featured-in">
  Featured In
  <div class="cn-home__featured-in__wrapper">
    <a class="cn-home__featured-in__wrapper__item" target="_blank" href="https://www.theknot.com/content/13-year-anniversary-gift-ideas">
      <img class="lazyload" data-src="{{ 'christy-natsumi--featured--theknot.png' | asset_url }}" />
    </a>
    <a class="cn-home__featured-in__wrapper__item" target="_blank" href="http://www.designsponge.com/2017/09/three-jewelers-choose-collaboration-over-competition.html">
      <img class="lazyload" data-src="{{ 'christy-natsumi--featured--designsponge.png' | asset_url }}" />
    </a>
    <a class="cn-home__featured-in__wrapper__item" target="_blank" href="https://modernluxury.com/san-francisco/story/taking-flight">
      <img class="lazyload" data-src="{{ 'christy-natsumi--featured--sfmagazine.jpg' | asset_url }}" />
    </a>
    <a class="cn-home__featured-in__wrapper__item" target="_blank" href="https://www.sfchronicle.com/style/article/Rare-connection-leads-to-unique-jewelry-collection-6744331.php">
      <img class="lazyload" data-src="{{ 'christy-natsumi--featured--sfchronicle.png' | asset_url }}" />
    </a>
    <a class="cn-home__featured-in__wrapper__item" target="_blank" href="http://www.7x7.com/style/2015-holiday-gift-guide-chic-local-accessories-fashion-mavens">
      <img class="lazyload" data-src="{{ 'christy-natsumi--featured--7x7.png' | asset_url }}" />
    </a>
    <a class="cn-home__featured-in__wrapper__item" target="_blank" href="http://www.ruemag.com/editors-picks/interviews/arcn-jewelry-thats-twice-as-nice">
      <img class="lazyload" data-src="{{ 'christy-natsumi--featured--ruedaily.png' | asset_url }}" />
    </a>
    <a class="cn-home__featured-in__wrapper__item" target="_blank" href="https://www.brides.com/gallery/yellow-gold-engagement-rings">
      <img class="lazyload" data-src="{{ 'christy-natsumi--featured--brides.png' | asset_url }}" />
    </a>
    <a class="cn-home__featured-in__wrapper__item" target="_blank" href="https://www.whowhatwear.com/realisation-christy-dress-outfits/slide29">
      <img class="lazyload" data-src="{{ 'christy-natsumi--featured--whowhatwear.png' | asset_url }}" />
    </a>
  </div>
</div>