<a href="{{ shop.secure_url }}/collections/ready-to-ship" class="cnew-header-mobile-drawer__content__main">ready to ship</a>
<a href="{{ shop.secure_url }}/collections/ready-to-ship-rings">rings</a>
<a href="{{ shop.secure_url }}/collections/ready-to-ship-earrings">earrings</a>
<a href="{{ shop.secure_url }}/collections/ready-to-ship-necklaces">necklaces</a>
<a href="{{ shop.secure_url }}/collections/ready-to-ship-sale">sale</a>
<a href="{{ shop.secure_url }}/collections/ready-to-ship">see all</a>

<a href="{{ shop.secure_url }}/collections/made-to-order" class="cnew-header-mobile-drawer__content__main">made to order</a>
<a href="{{ shop.secure_url }}/collections/wedding-bands">wedding bands</a>
<a href="{{ shop.secure_url }}/collections/diamond-rings">diamond rings</a>
<a href="{{ shop.secure_url }}/collections/rings">all rings</a>
<a href="{{ shop.secure_url }}/collections/necklaces">necklaces</a>
<a href="{{ shop.secure_url }}/collections/earrings">earrings</a>
<a href="{{ shop.secure_url }}/collections/made-to-order">see all</a>

<div class="cnew-header-mobile-drawer__content__divider"></div>

<a href="{{ shop.secure_url }}/pages/custom" class="cnew-header-mobile-drawer__content__nosubnav">custom</a>
<a href="{{ shop.secure_url }}/pages/contact" class="cnew-header-mobile-drawer__content__nosubnav">contact</a>
<a href="{{ shop.secure_url }}/pages/about" class="cnew-header-mobile-drawer__content__nosubnav">about</a>
