{% for link in linklists.main-menu.links %}
  {% if link.url == '/collections/all' and collection.url
     or link.url == '/collections/all' and product.url
  %}
    <a data-subnav="{{ link.title }}" class="nav-item active" href="{{ link.url }}"> {{ link.title }}</a>
  {% else %}
    <a data-subnav="{{ link.title }}" class="nav-item{% if link.active %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
  {% endif %}
{% endfor %}