
<a href="{{ shop.secure_url }}/collections/wedding" class="cnew-header-mobile-drawer__content__main">wedding</a>
<a href="{{ shop.secure_url }}/collections/diamond-rings">diamond rings</a>
<a href="{{ shop.secure_url }}/collections/wedding-bands">wedding bands</a>
<!--<a href="{{ shop.secure_url }}/collections/one-of-a-kind">one of a kind rings</a>-->
<a href="{{ shop.secure_url }}/collections/mens">men's</a>
<a href="{{ shop.secure_url }}/collections/wedding">all wedding</a>

<a href="{{ shop.secure_url }}/collections/all" class="cnew-header-mobile-drawer__content__main">jewelry</a>
<a href="{{ shop.secure_url }}/collections/rings">rings</a>
<a href="{{ shop.secure_url }}/collections/necklaces">necklaces</a>
<a href="{{ shop.secure_url }}/collections/earrings">earrings</a>
<a href="{{ shop.secure_url }}/collections/customer-favorites">customer favorites</a>
<a href="{{ shop.secure_url }}/collections/last-call">last call</a>
<!--<a href="{{ shop.secure_url }}/products/gift-card">gift cards</a>-->
<a href="{{ shop.secure_url }}/collections/all">see all</a>

<div class="cnew-header-mobile-drawer__content__divider"></div>

<a href="{{ shop.secure_url }}/pages/custom" class="cnew-header-mobile-drawer__content__nosubnav">custom</a>
<a href="{{ shop.secure_url }}/pages/contact" class="cnew-header-mobile-drawer__content__nosubnav">contact</a>
<a href="{{ shop.secure_url }}/pages/about" class="cnew-header-mobile-drawer__content__nosubnav">about</a>
