{% if product.images.size > 0 %}
  <a class="cn-categoryproduct" href="{{ product.url }}">
    <div class="cn-categoryproduct__img">
      <img
        data-src="{{ product.featured_image | img_url: '600x600', crop: 'bottom' }}"
        alt="{{ product.featured_image.alt | escape }}"
        sizes="(min-width: 415px) 600px, (min-width: 376px and max-width: 414px) 400px, (max-width: 376px) 350px"
        data-srcset="{{ product.featured_image | img_url: '600x600', crop: 'bottom' }} 600w,
          {{ product.featured_image | img_url: '400x400', crop: 'bottom' }} 400w,
          {{ product.featured_image | img_url: '350x350', crop: 'bottom' }} 350w"
        class="lazyload" />
    </div>
    <div class="cn-categoryproduct__title">{{ product.title }}</div>

    {% if product.available == false %}
      <div class="product-mark sold-out">sold out</div>
    {% elsif product.compare_at_price > product.price %}
      <div class="product-mark sale">sale</div>
    {% endif %}

  </a>
{% else %}
  <a class="cn-categoryproduct">no product thumbnail</a>
{% endif %}
