<footer class="cn-footer">

  <div class="row cn-wrapper">
    <div class="cn-footer__links twoThird longFirst">
      <div class="row">
        <div class="third">
          <h3><a href="/pages/faq">faq</a></h3>
          <p>
            <a href="/pages/faq#shipping">shipping</a>
            <a href="/pages/faq#returnsandexchanges">returns and exchanges</a>
            <a href="/pages/faq#repairs">repairs</a>
            <a href="/pages/privacy-policy">privacy policy</a>
          </p>
        </div>
        <div class="third">
          <h3><a href="/pages/contact">contact</a></h3>
          <p>
            <a href="/pages/contact?topic=customwork">custom work</a>
            <a href="/pages/contact?topic=wholesaleinquiries">wholesale inquiries</a>
            <a href="/pages/contact?topic=pressinquiries">press inquiries</a>
          </p>
        </div>
        <div class="third">
          <h3><a href="/pages/about">about</a></h3>
          <p>
            <a href="/pages/about#brand">brand</a>
            <a href="/pages/about#designer">designer</a>
            <a href="/pages/about#process">sustainability</a>
            <a href="/pages/about#stockists">where to buy</a>
          </p>
        </div>
      </div>
    </div>
    <div class="oneThird longFirst">
      <h3>join our mailing list</h3>

      <form class="cn-emailForm" action="//christynatsumi.us2.list-manage.com/subscribe/post?u=f04f5f29de9eb0f93431bcf1c&amp;id=902b73c91f" method="post" name="mc-embedded-subscribe-form" target="_blank">
        <input type="email" value="" name="EMAIL" class="email" placeholder="email address" required>
        <input class="button button--footer" type="submit" value="sign up" name="subscribe"/>
      </form>

      <div class="cn-footer__social">
        <a class="pinterest" href="//pinterest.com/ChristyNatsumi" target="_blank"><img src="{{ 'icon--pinterest.png' | asset_url }}"/></a>
        <a class="instagram" href="//instagram.com/christynatsumi" target="_blank"><img src="{{ 'icon--instagram.png' | asset_url }}"/></a>
        <a class="facebook"  href="//facebook.com/ChristyNatsumi"  target="_blank"><img src="{{ 'icon--facebook.png' | asset_url }}"/></a>
      </div>
    </div>

    <p class="cn-footer__legal">&#169; Christy Natsumi LLC {{ 'now' | date: "%Y" }}. All Rights Reserved.</p>
  </div>

</footer>


{{ 'lazysizes.min.js' | asset_url | script_tag }}