<header class="cnew-header">


  <div class="cnew-header__nav">
    <a class="cnew-header__nav__title" itemprop="brand" href="{{ shop.secure_url }}" alt="Christy Natsumi Jewelry Home" ></a>

    <div class="cnew-header__nav__items">
      {% include 'navigation' %}
    </div>
  </div>


  <div class="cnew-header__subnav cnew-header__subnav--Wedding">
    <div class="cn-wrapper cnew-header__subnav__items">
      <a class="cnew-header__subnav__items__item" href="{{ shop.secure_url }}/collections/diamond-rings">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-wedding-diamond-rings.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          diamond rings
        </div>
      </a>
      <a class="cnew-header__subnav__items__item" href="{{ shop.secure_url }}/collections/wedding-bands">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-wedding-bands.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          wedding bands
        </div>
      </a>
      <a class="cnew-header__subnav__items__item" href="{{ shop.secure_url }}/collections/mens">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-wedding-mens.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          men's
        </div>
      </a>
      <a class="cnew-header__subnav__items__item" href="{{ shop.secure_url }}/collections/wedding">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-wedding-all.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          all wedding
        </div>
      </a>
    </div>
  </div>


  <div class="cnew-header__subnav cnew-header__subnav--Jewelry">
    <div class="cn-wrapper cnew-header__subnav__items">
      <a class="cnew-header__subnav__items__item" href="{{ shop.secure_url }}/collections/rings">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-jewelry-rings.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          rings
        </div>
      </a>
      <a class="cnew-header__subnav__items__item" href="{{ shop.secure_url }}/collections/necklaces">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-jewelry-necklaces.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          necklaces
        </div>
      </a>
      <a class="cnew-header__subnav__items__item" href="{{ shop.secure_url }}/collections/earrings">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-jewelry-earrings.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          earrings
        </div>
      </a>
      <div class="cnew-header__subnav__items__links">
        <a href="{{ shop.secure_url }}/collections/customer-favorites">
          <span>customer favorites</span>
        </a>
        <a href="{{ shop.secure_url }}/collections/last-call">
          <span>last call</span>
        </a>
        <a href="{{ shop.secure_url }}/products/gift-card">
          <span>gift cards</span>
        </a>
        <a href="{{ shop.secure_url }}/collections/all">
          <span>see all</span>
        </a>
      </div>
    </div>
  </div>


  <div class="cnew-header__subnav cnew-header__subnav--Custom">
    <div class="cn-wrapper cnew-header__subnav__items">
      <a class="cnew-header__subnav__items__item" href="#">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-jewelry-rings.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          custom services
        </div>
      </a>
      <a class="cnew-header__subnav__items__item" href="#">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-jewelry-rings.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          custom gallery
        </div>
      </a>
      <a class="cnew-header__subnav__items__item" href="#">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-jewelry-rings.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          the process
        </div>
      </a>
      <div class="cnew-header__subnav__items__links">
        <a href="#">
          <span>testimonials</span>
        </a>
        <a href="#">
          <span>faq</span>
        </a>
        <a href="#">
          <span>order form</span>
        </a>
      </div>
    </div>
  </div>


  <div class="cnew-header__subnav cnew-header__subnav--About">
    <div class="cn-wrapper cnew-header__subnav__items">
      <a class="cnew-header__subnav__items__item" href="#">
        <div class="cnew-header__subnav__items__item__img" style="background-image:url({{ 'christy-natsumi-nav-jewelry-rings.jpg' | asset_url }})">
        </div>
        <div class="cnew-header__subnav__items__item__text">
          custom services
        </div>
      </a>
      <div class="cnew-header__subnav__items__links cnew-header__subnav__items__links--education">
        <a href="#">
          <span>testimonials</span>
        </a>
        <a href="#">
          <span>faq</span>
        </a>
        <a href="#">
          <span>order</span>
        </a>
      </div>
      <div class="cnew-header__subnav__items__links cnew-header__subnav__items__links--education">
        <a href="#">
          <span>testimonials</span>
        </a>
        <a href="#">
          <span>faq</span>
        </a>
        <a href="#">
          <span>order</span>
        </a>
      </div>
    </div>
  </div>


</header>