<!-- /templates/cart.liquid -->
{% comment %}
  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments
{% endcomment %}

<main class="main--top main--bottom cn-wrapper cn-wrapper--narrow">
  {% if cart.item_count < 1 %}
    <div class="cart__empty">
      <h1>Nothing Yet!</h1>
      <p>You have nothing in your shopping cart.</p>
      <a class="button" href="/collections/all">see all jewelry</a>
    </div>
  {% else %}
    <form action="/cart" method="post" novalidate class="cart">
      <h1>Your Cart</h1>

      <div class="cart__header">
        <div class="cart__header__img"></div>
        <div class="cart__header__desc">item</div>
        <div class="cart__header__qty">quantity</div>
        <div class="cart__header__price">price</div>
      </div>

      {% for item in cart.items %}
        <div class="cart__item">
          <a class="cart__item__remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="Remove Item"></a>

          <a class="cart__item__img" href="{{ item.url | within: collections.all }}">
            <img
              alt="{{ item.product.title }}"
              data-sizes="auto"
              data-src="{{ item | img_url: '250x250', crop: 'bottom' }}"
              data-srcset="{{ item | img_url: '250x250', crop: 'bottom' }} 250w,
                           {{ item | img_url: '500x500', crop: 'bottom' }} 500w"
              class="lazyload"
            />
          </a>

          <div class="cart__item__desc">
            <a class="cart__item__desc__title" href="{{ item.url | within: collections.all }}">{{ item.product.title }}</a>

            <div class="cart__item__desc__variant">
              {% unless item.variant.title contains 'Default' %}
                {{ item.variant.title }}
              {% endunless %}
              {% unless item.properties == empty %}
                {% for property in item.properties %}
                  {{ property.first }}: {{ property.last }}
                {% endfor %}
              {% endunless %}
            </div>
          </div>

          <div class="cart__item__qty" data-label="{{ 'cart.label.quantity' | t }}">
            <input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="1" max="{{ item.variant.inventory_quantity }}">
          </div>

          <div class="cart__item__price" data-label="{{ 'cart.label.price' | t }}">
            {{ item.price | money }}
          </div>
        </div>
      {% endfor %}

      <div class="cart__subtotal">
        <span class="cart__subtotal__label">Subtotal:</span>
        <span class="cart__subtotal__price">{{ cart.total_price | money }}</span>
      </div>

      <div class="cart__checkout">
        <button class="dark" type="submit" name="update">{{ 'cart.general.update' | t }}</button>
        <button class="dark" type="submit" name="checkout">Checkout</button>
      </div>
    </form>
  {% endif %}


</main>