<!-- /templates/gift_card.liquid -->
{{ 'modernizr.gift-card.js' | shopify_asset_url | script_tag }}
{{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}

<main class="main--top main--bottom main--giftcard cn-wrapper">

  <h1>A Gift from {{ gift_card.customer.first_name }} {{ gift_card.customer.last_name }}</h1>


  {% if gift_card.expired or gift_card.enabled != true %} <h2>disabled</h2>{% endif %}


  {% assign gift_card_expiration_size = gift_card.expires_on | size %}

  {% if gift_card_expiration_size < 3 %}
    {% assign gift_card_expiration_string = "Never!" %}
  {% else %}
    {% assign gift_card_expiration_string = gift_card.expires_on | date: "%d/%m/%y" %}
  {% endif %}


  <img class="giftcard__hero" src="{{ 'christy-natsumi-giftcard.jpg' | asset_url }}" alt="Gift card illustration">


  <div class="giftcard__body">
    <div class="giftcard__body__codes">
      <div class="giftcard__body__codes__qr" id="QrCode"></div>
      <br/>
      <p class="cn-note">
        {{ 'gift_cards.issued.redeem' | t }}
      </p>
      <div class="giftcard__body__codes__code" id="GiftCardDigits" onclick="selectText('GiftCardDigits');">{{ gift_card.code | format_code }}</div>


      {% if gift_card.pass_url %}
        <a href="{{ gift_card.pass_url }}"><img id="apple-wallet-badge" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="Add To Apple Wallet"></a>
      {% endif %}
    </div>


    <div class="giftcard__body__content">
      <div class="giftcard__body__content__entry">
        <label>initial value</label>
        <p>{{ gift_card.initial_value | money }}</p>
      </div>
      <div class="giftcard__body__content__entry">
        <label>remaining value</label>
        <p>{{ gift_card.balance | money }}</p>
      </div>
      <div class="giftcard__body__content__entry">
        <label>expires on</label>
        <p>{{ gift_card_expiration_string }}</p>
      </div>
    </div>
  </div>


  {% assign initial_value_size = formatted_initial_value | size %}
  <div class="h1 giftcard__amount{% if initial_value_size > 6 %} giftcard__amount--medium{% endif %}">
    {% if gift_card.balance != gift_card.initial_value %}
      <span class="tooltip">
        <span class="tooltip__label">{{ gift_card.balance | money }} <small>left</small></span>
      </span>
    {% endif %}
    <strong>{{ formatted_initial_value }}</strong>
  </div>

  <div class="giftcard__code" id="GiftCardDigits" onclick="selectText('GiftCardDigits');">{{ gift_card.code | format_code }}</div>


  <div class="giftcard__actions">
    <a href="{{ shop.url }}" class="button button--dark" target="_blank">{{ 'gift_cards.issued.shop_link' | t }}</a>
    <a href="#" onclick="window.print();" class="button" target="_blank">{{ 'gift_cards.issued.print' | t }}</a>
  </div>


</main>


<script type="text/javascript">

  document.title = "Gift Card - Christy Natsumi Jewelry";

  new QRCode(document.getElementById('QrCode'), {
    text: "{{ gift_card.qr_identifier }}",
    width: 120,
    height: 120
  });

  /*============================================================================
    Auto-select gift card code on click, based on ID passed to the function
      - Use a different method depending on IE or others
  ==============================================================================*/
  function selectText(element) {
    var doc = document,
        text = doc.getElementById(element);

    if (doc.body.createTextRange) { // ms
      var range = doc.body.createTextRange();
      range.moveToElementText(text);
      range.select();
    } else if (window.getSelection) { // moz, opera, webkit
      var selection = window.getSelection(),
          range = doc.createRange();
      range.selectNodeContents(text);
      selection.removeAllRanges();
      selection.addRange(range);
    }
  }
</script>

</body>
</html>
