<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
  - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}


<main>
  <a class="cn-home__hero" href="/collections/all">
    <div class="cn-home__hero__text">
      <div class="cn-home__hero__text__intro">Fine Jewelry</div>
      <div class="cn-home__hero__text__subhead">designed and crafted <br/>in san francisco</div>
    </div>
  </a>


  {% comment %}
    TO USE "cn-layoutBlock":

    specify max width for the image on flex style.
    add any modifying classes like ".cn-layoutBlock--reverse"
  {% endcomment %}


  <div class="cn-layoutBlock cn-layoutBlock--smallBottom cn-layoutBlock--flexStart cn-layoutBlock--marginLeft">
    <div class="cn-layoutBlock__img" style="flex: 0 1 650px">
      <a href="/collections/wedding-bands">
        <picture>
          <source data-srcset="{{ 'christy-natsumi__home__wedding--mobile.jpg' | asset_url }}" media="(max-width: 375px)" />
          <source data-srcset="{{ 'christy-natsumi__home__wedding--mobile-large.jpg' | asset_url }}" media="(max-width: 600px)" />
          <source data-srcset="{{ 'christy-natsumi__home__wedding--web.jpg' | asset_url }}" media="(min-width: 601px)" />
          <img
            class="lazyload"
            data-src="{{ 'christy-natsumi__home__wedding--web.jpg' | asset_url }}"
            alt="Shop Wedding Bands"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          />
        </picture>
      </a>
    </div>
    <div class="cn-layoutBlock__container">
      <div class="cn-layoutBlock__container__title">
        Wedding<br/> Bands
      </div>
      <a class="button" href="/collections/wedding-bands">explore</a>
    </div>
  </div>


  <div class="cn-layoutBlock cn-layoutBlock--flexEnd">
    <div class="cn-layoutBlock__img" style="flex: 0 1 960px">
      <a href="/collections/mens">
        <picture>
          <source data-srcset="{{ 'christy-natsumi__home__mens--mobile.jpg' | asset_url }}" media="(max-width: 375px)" />
          <source data-srcset="{{ 'christy-natsumi__home__mens--mobile-large.jpg' | asset_url }}" media="(max-width: 600px)" />
          <source data-srcset="{{ 'christy-natsumi__home__mens--web.jpg' | asset_url }}" media="(min-width: 601px)" />
          <img
            class="lazyload"
            data-src="{{ 'christy-natsumi__home__mens--web.jpg' | asset_url }}"
            alt="Shop Men’s Rings"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          />
        </picture>
      </a>
    </div>
    <div class="cn-layoutBlock__container">
      <div class="cn-layoutBlock__container__title">
        Men’s<br/> Rings
      </div>
      <a class="button" href="/collections/mens">for every taste</a>
    </div>
  </div>


  <div class="cn-home__customer-favorites">
    <div class="cn-home__customer-favorites__text">
      Customer Favorites
    </div>
    <div class="cn-home__customer-favorites__imgs">
      <div class="cn-wrapper">
        {% assign counter = 0 %}
        {% for product in collections.customer-favorites.products %}
          {% include 'product-grid-item' %}

          {% assign counter = counter | plus: 1 %}
          {% if counter == 4 %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a class="button" href="/collections/customer-favorites">see more customer favorites</a>
  </div>


  <div class="cn-layoutBlock cn-layoutBlock--reverse">
    <div class="cn-layoutBlock__img" style="flex: 0 1 600px">
      <a href="/collections/all">
        <picture>
          <source data-srcset="{{ 'christy-natsumi__home__collection--mobile.jpg' | asset_url }}" media="(max-width: 375px)" />
          <source data-srcset="{{ 'christy-natsumi__home__collection--mobile-large.jpg' | asset_url }}" media="(max-width: 600px)" />
          <source data-srcset="{{ 'christy-natsumi__home__collection--web.jpg' | asset_url }}" media="(min-width: 601px)" />
          <img
            class="lazyload"
            data-src="{{ 'christy-natsumi__home__collection--web.jpg' | asset_url }}"
            alt="View the Collection"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          />
        </picture>
      </a>
    </div>
    <div class="cn-layoutBlock__container">
      <div class="cn-layoutBlock__container__title">
        View the<br/> Collection<br/>
      </div>
      <a class="button" href="/collections/all">made in san francisco</a>
    </div>
  </div>


  {% include 'featuredin' %}
</main>