<!-- /templates/page.custom-gallery.liquid -->
<main class="main--top">
  <h1>Custom Gallery</h1>

  <div class="cn-customgallery">
    <div class="grid-sizer"></div>
  </div>
</main>


{{ 'masonry.pkgd.min.js' | asset_url | script_tag }}


<script>

  var customModel = [
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-1.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-1.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-3.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-3.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-rings-1.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-rings-1.jpg' | asset_url }}",
      desc: "",
      gridWidth: 2
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-2.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-2.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-4.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-4.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-5.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-5.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-rings-2.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-rings-2.jpg' | asset_url }}",
      desc: "",
      gridWidth: 2
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-rings-3.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-rings-3.jpg' | asset_url }}",
      desc: "",
      gridWidth: 2
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-6.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-6.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    }

    /*
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-7.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-7.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-rings-4.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-rings-4.jpg' | asset_url }}",
      desc: "",
      gridWidth: 2
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-8.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-8.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-rings-5.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-rings-5.jpg' | asset_url }}",
      desc: "",
      gridWidth: 2
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-9.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-9.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-rings-6.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-rings-6.jpg' | asset_url }}",
      desc: "",
      gridWidth: 3
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-ring-10.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-ring-10.jpg' | asset_url }}",
      desc: "",
      gridWidth: 1
    },
    {
      mobile: "{{ 'christy-natsumi__custom-jewelry-rings-7.jpg' | asset_url }}",
      web: "{{ 'christy-natsumi__custom-jewelry-rings-7.jpg' | asset_url }}",
      desc: "",
      gridWidth: 2
    }
    */
  ];


  var items = '';

  customModel.forEach((x, i) => {
    var width = x.gridWidth < 2 ? '' : ` grid-item--width${x.gridWidth}`;

    items += `
      <div class="grid-item${width}">
        <picture>
          <source data-srcset="${x.mobile}" media="(max-width: 600px)" />
          <source data-srcset="${x.web}" media="(min-width: 601px)" />
          <img
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="${x.web}"
            alt="${x.desc}"
          />
        </picture>
      </div>
    `
  });

  document.querySelector('.grid-sizer').insertAdjacentHTML('afterend', items);


  $(window).load(function(){
    $('.cn-customgallery').masonry({
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    });

    $(document).on('lazybeforeunveil', function(){
      $('.cn-customgallery').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true
      });
    });

    $('.grid-item').hover(
      function() {
        var i = $('.grid-item').index(this);
        var displayInt = parseInt(i) + 1;

        $(this).addClass('active');
        $(this).append('<div class="grid-item__text"><div class="grid-item__text__number">' + displayInt + '</div> <div class="grid-item__text__desc">' + customModel[i].desc + '</div><div class="grid-item__text__close"></div></div>');
        $('.grid-item__text__close').on('click', function() {
          $('.grid-item').removeClass('active');
          $('.grid-item__text').remove();
        });
      }, function() {
        $('.grid-item').removeClass('active');
        $(this).children('.grid-item__text').remove();
      }
    );
  });
</script>
