<!-- /templates/page.about2.liquid -->
<main>
  <!--<div class="cn-heroimage cn-heroimage--about"></div>-->


  <div class="cn-layoutBlock cn-layoutBlock--flexStart cn-layoutBlock--withText">
    <div class="cn-layoutBlock__img" style="flex: 0 1 960px">
      <img
        alt="Christy Natsumi taking care of her many plant friends"
        sizes="(max-width: 599px) 1200px, (min-width: 600px) 1920px"
        src="{{ 'christy-natsumi__about__sustainability--web.jpg' | asset_url }}"
        srcset="{{ 'christy-natsumi__about__sustainability--mobile.jpg' | asset_url }} 1200w,
                {{ 'christy-natsumi__about__sustainability--web.jpg' | asset_url }} 1920w"
      />
    </div>
    <div class="cn-layoutBlock__container">
      <div class="cn-layoutBlock__container__title">
        Sustainability
      </div>
      <p>
        It’s not enough to create beautiful products. We believe it must be made in ways that enhances the beauty in the lives of the people who contribute to its creation and to the environment from which the materials came from. We do this by working with trusted vendors with honest supply chains, implementing eco-minded studio practices, using alternative stones such as antique, recycled, and domestically sourced diamonds and gemstones, and consciously designing for quality and longevity. By purchasing from Christy Natsumi, you are not only supporting skilled craftsmen and women in San Francisco, but also a network of vendors who are committed to celebrating and respecting the earth’s beautiful resources.
      </p>
      <p>
        <a href="https://sfenvironment.org/" target="_blank">
          <img width="200" src="{{ 'christy-natsumi__about__member__sf-green-business.png' | asset_url }}"/>
        </a>
      </p>
    </div>
  </div>



  <div class="cn-layoutBlock cn-layoutBlock--flexStart cn-layoutBlock--withText cn-layoutBlock--reverse">
    <div class="cn-layoutBlock__img" style="flex: 0 1 960px">
      <div class="cn-layoutBlock__iframe">
        <iframe src="https://www.youtube.com/embed/B_5iDPpjQkE" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cn-layoutBlock__container">
      <div class="cn-layoutBlock__container__title">
        Sustainability
      </div>
      <p>
        It’s not enough to create beautiful products. We believe it must be made in ways that enhances the beauty in the lives of the people who contribute to its creation and to the environment from which the materials came from. We do this by working with trusted vendors with honest supply chains, implementing eco-minded studio practices, using alternative stones such as antique, recycled, and domestically sourced diamonds and gemstones, and consciously designing for quality and longevity. By purchasing from Christy Natsumi, you are not only supporting skilled craftsmen and women in San Francisco, but also a network of vendors who are committed to celebrating and respecting the earth’s beautiful resources.
      </p>
      <p>
        <a href="https://sfenvironment.org/" target="_blank">
          <img width="200" src="{{ 'christy-natsumi__about__member__sf-green-business.png' | asset_url }}"/>
        </a>
      </p>
    </div>
  </div>





  <div class="cn-wrapper cn-aboutpage">
    <div class="row row--btnRow">
      <div class="fourth">
        <span>shop</span>
        <a class="button" href="/collections/all">the collection</a>
      </div>
      <div class="fourth">
        <span>shop</span>
        <a class="button" href="/collections/wedding">wedding jewelry</a>
      </div>
      <div class="fourth">
        <span>inquire about</span>
        <a class="button" href="/pages/custom">custom jewelry</a>
      </div>
      <div class="fourth">
        <span>schedule a</span>
        <a class="button" href="/pages/workshop-visit">workshop visit</a>
      </div>
    </div>
  </div>


  <div class="row row--imgRow">
    <div class="fourth">
      <img class="full" src="{{ 'christynatsumi-process-1.jpg' | asset_url }}"/>
    </div>
    <div class="fourth">
      <img class="full" src="{{ 'christynatsumi-process-2.jpg' | asset_url }}"/>
    </div>
    <div class="fourth">
      <img class="full" src="{{ 'christynatsumi-process-3.jpg' | asset_url }}"/>
    </div>
    <div class="fourth">
      <img class="full" src="{{ 'christynatsumi-process-4.jpg' | asset_url }}"/>
    </div>
  </div>


  <div class="cn-wrapper cn-aboutpage">
    <a class="cn-anchor" name="stockists"></a>

    <div class="row">
      <div class="half">
        <h3>View and Purchase At:</h3>
        <h4><a href="https://www.crown-nine.com/collections/christy-natsumi" target="_blank">Crown Nine</a></h4>
        <p>
          Downtown Oakland, California
        </p>
        <h4><a href="http://www.gallery-of-jewels.com/jewelry-designers/christy-natsumi" target="_blank">Gallery of Jewels - Fillmore Street</a></h4>
        <p>
          Fillmore &amp; California, San Francisco, California <span class="cn-note">(bridal jewelry only)</span>
        </p>
        <h4><a href="https://www.google.com/maps/place/Zaver+%26+Mor/@37.8804668,-122.2708367,17z/data=!4m13!1m7!3m6!1s0x80857ea6d3970a21:0x7c4fa2d83692a742!2s2111+Vine+St+e,+Berkeley,+CA+94709!3b1!8m2!3d37.8804668!4d-122.268648!3m4!1s0x80857ea6d3dd62cd:0xd2b701d4a7c27b43!8m2!3d37.8803993!4d-122.2686217" target="_blank">Zaver &amp; Mor</a></h4>
        <p>
          Downtown Berkeley, California
        </p>
        <h4><a href="/pages/contact">Visit our Workshop</a> <span class="cn-note">(by appointment only)</span></h4>
        <p>
          Downtown San Francisco, California
        </p>
      </div>
      <div class="half">
        <h3>Proud member of:</h3>
        <p>
          <a href="//www.sfmade.org/members/christy-natsumi" target="_blank">
            <img width="100" class="cn-aboutpage__press-img" src="{{ 'christy-natsumi__about__member__sf-made.png' | asset_url }}"/>
          </a>
          <a href="http://www.ethicalmetalsmiths.org/" target="_blank">
            <img width="100" class="cn-aboutpage__press-img" src="{{ 'christy-natsumi__about__member__ethical-metalsmiths.png' | asset_url }}"/>
          </a>
          <a href="https://sfenvironment.org/" target="_blank">
            <img width="300" class="cn-aboutpage__press-img" src="{{ 'christy-natsumi__about__member__sf-green-business.png' | asset_url }}"/>
          </a>
        </p>
      </div>
    </div>
  </div>


  {% include 'featuredin' %}

</main>