<!-- /templates/page.custom-gallery.liquid -->
<main class="main--top">

  <h1>Custom Gallery</h1>

  <div class="cn-customgallery">
    <div class="grid-sizer"></div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-1.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-1.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-1.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-3.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-3.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-3.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item grid-item--width2">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-1.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-1.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-rings-1.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-2.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-2.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-2.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-4.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-4.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-4.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-5.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-5.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-5.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item grid-item--width2">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-2.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-2.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-rings-2.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item grid-item--width2">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-3.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-3.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-rings-3.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-6.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-6.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-6.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-7.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-7.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-7.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item grid-item--width2">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-4.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-4.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-rings-4.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-8.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-8.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-8.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item grid-item--width2">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-5.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-5.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-rings-5.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-9.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-9.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-9.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item grid-item--width3">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-6.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-6.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-rings-6.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

    <div class="grid-item">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-10.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__custom-jewelry-ring-10.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__custom-jewelry-ring-10.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>

   <div class="grid-item grid-item--width2">
     <picture>
       <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-7.jpg' | asset_url }}" media="(max-width: 600px)" />
       <source data-srcset="{{ 'christy-natsumi__custom-jewelry-rings-7.jpg' | asset_url }}" media="(min-width: 601px)" />
       <img
         class="lazyload"
         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
         data-src="{{ 'christy-natsumi__custom-jewelry-rings-7.jpg' | asset_url }}"
         alt="Christy Natsumi taking care of her many plant friends"
       />
     </picture>
   </div>


  </div>
</main>


{{ 'masonry.pkgd.min.js' | asset_url | script_tag }}


<script>

  $(window).load(function(){
    $('.cn-customgallery').masonry({
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    });

    $(document).on('lazybeforeunveil', function(){
      $('.cn-customgallery').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true
      });
    });
  });

</script>
