<!-- /templates/page.about.liquid -->
<main>
  <div class="cn-about__hero">
    <picture>
      <source srcset="{{ 'christy-natsumi__about__hero--mobile.jpg' | asset_url }}" media="(max-width: 375px)" />
      <source srcset="{{ 'christy-natsumi__about__hero--mobile-large.jpg' | asset_url }}" media="(max-width: 599px)" />
      <source srcset="{{ 'christy-natsumi__about__hero--web.jpg' | asset_url }}" media="(min-width: 600px)" />
      <img src="{{ 'christy-natsumi__about__hero--web.jpg' | asset_url }}" alt="Christy Natsumi"/>
    </picture>
  </div>


  <div class="
    cn-layoutBlock
    cn-layoutBlock--withText
    cn-layoutBlock--marginOuter
  ">
    <div class="cn-layoutBlock__img" style="flex: 0 1 896px">
      <picture>
        <source srcset="{{ 'christy-natsumi__about__hammer-box--375w.gif' | asset_url }}" media="(max-width: 375px)" />
        <source srcset="{{ 'christy-natsumi__about__hammer-box--688w.gif' | asset_url }}" media="(min-width: 376px)" />
        <img src="{{ 'christy-natsumi__about__hammer-box--688w.gif' | asset_url }}" alt="Christy Natsumi Jewelry Animation"/>
      </picture>
    </div>
    <div class="cn-layoutBlock__container">
      <p>
        Christy Natsumi is an independent fine jewelry artist. She specializes in wedding rings and modern jewelry essentials so you can wear meaningful reminders of all of your special celebrations. She creates with respect for the materials used and longevity in mind, preferring timeless designs accentuated with a little twist of uniqueness. Christy Natsumi was previously certified as a San Francisco Green Business and is currently looking to do the same through Santa Cruz Green Business Programs. Christy’s work has been featured in The Knot, Design Sponge, and San Francisco Chronicle, among others.
      </p>
      <p>
        Christy Natsumi is located on Uypi Territory, the ancestral and unceded lands of the Awaswas-speaking Ohlone people, also known as Santa Cruz, CA.
      </p>
    </div>
  </div>


  <a class="cn-anchor" name="values"></a>
  <div class="
    cn-layoutBlock
    cn-layoutBlock--withText
    cn-layoutBlock--marginOuter
  ">
    <div class="cn-layoutBlock__img" style="flex: 0 1 896px">
      <div class="cn-layoutBlock__iframe">
        <iframe class="lazyload" data-src="https://www.youtube.com/embed/elvJH2YDCQo?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cn-layoutBlock__container">
      <div class="cn-layoutBlock__container__title">
        Values
      </div>
      <p>
        Christy grew up equal parts in Tokyo and California, a product of parents from two countries. She always felt deeply that she wanted to embody and honor our connectedness beyond culture, language, looks, and gender. Celebrating inclusivity, diversity, and the infinite ways we love and are loved is at the core of everything we do. Hear more about Christy’s background and why it’s so fulfilling for us to create jewelry that celebrates you.
      </p>
    </div>
  </div>


  <div class="cn-imgRow">
    <div class="cn-imgRow__img">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__about__process1--mobile.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__about__process1--web.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          data-src="{{ 'christy-natsumi__about__process1--web.jpg' | asset_url }}"
          alt="Christy Natsumi Creating Jewelry"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        />
      </picture>
    </div>
    <div class="cn-imgRow__img">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__about__process2--mobile.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__about__process2--web.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          data-src="{{ 'christy-natsumi__about__process2--web.jpg' | asset_url }}"
          alt="Christy Natsumi Creating Jewelry"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        />
      </picture>
    </div>
    <div class="cn-imgRow__img">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__about__process3--mobile.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__about__process3--web.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          data-src="{{ 'christy-natsumi__about__process3--web.jpg' | asset_url }}"
          alt="Christy Natsumi Creating Jewelry"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        />
      </picture>
    </div>
    <div class="cn-imgRow__img">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__about__process4--mobile.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__about__process4--web.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          data-src="{{ 'christy-natsumi__about__process4--web.jpg' | asset_url }}"
          alt="Christy Natsumi Creating Jewelry"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        />
      </picture>
    </div>
  </div>


  <a class="cn-anchor" name="sustainability"></a>
  <div class="
    cn-layoutBlock
    cn-layoutBlock--withText
    cn-layoutBlock--marginOuter
  ">
    <div class="cn-layoutBlock__img" style="flex: 0 1 896px">
      <picture>
        <source data-srcset="{{ 'christy-natsumi__about__sustainability--mobile.jpg' | asset_url }}" media="(max-width: 375px)" />
        <source data-srcset="{{ 'christy-natsumi__about__sustainability--mobile-large.jpg' | asset_url }}" media="(max-width: 600px)" />
        <source data-srcset="{{ 'christy-natsumi__about__sustainability--web.jpg' | asset_url }}" media="(min-width: 601px)" />
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ 'christy-natsumi__about__sustainability--web.jpg' | asset_url }}"
          alt="Christy Natsumi taking care of her many plant friends"
        />
      </picture>
    </div>
    <div class="cn-layoutBlock__container">
      <div class="cn-layoutBlock__container__title">
        Sustainability
      </div>
      <p>
        It’s not enough to create beautiful products. We believe it must be made in ways that enhances the beauty in the lives of the people who contribute to its creation and to the environment from which the materials come from. We do this by working with trusted vendors with honest supply chains, implementing eco-minded studio practices, using alternative stones such as antique, recycled, and domestically sourced diamonds and gemstones, and consciously designing for quality and longevity. By purchasing from Christy Natsumi, you are not only supporting skilled craftsmen and women in San Francisco and Monterey Bay Areas, but also a network of vendors in the US who are committed to celebrating and respecting the earth’s beautiful resources.
      </p>

      <p class="cn-about__membership-badges">
        <!--
        <a href="https://sfenvironment.org/" target="_blank">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="{{ 'christy-natsumi__about__member__sf-green-business.png' | asset_url }}"
            class="lazyload cn-about__membership-badges__sfenv"
          />
        </a>
        <a href="//www.sfmade.org/members/christy-natsumi" target="_blank">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="{{ 'christy-natsumi__about__member__sf-made.png' | asset_url }}"
            class="lazyload cn-about__membership-badges__sfmade"
          />
        </a>
        -->
        <a href="http://www.ethicalmetalsmiths.org/" target="_blank">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="{{ 'christy-natsumi__about__member__ethical-metalsmiths.png' | asset_url }}"
            class="lazyload cn-about__membership-badges__ethical"
          />
        </a>
      </p>
    </div>
  </div>


  <a class="cn-anchor" name="history"></a>
  <div class="
    cn-layoutBlock
    cn-layoutBlock--marginOuter
    cn-layoutBlock--withText
  ">
    <div class="cn-layoutBlock__img" style="flex: 0 1 896px">
      <div class="cn-layoutBlock__iframe">
        <iframe class="lazyload" data-src="https://www.youtube.com/embed/soLLCLcAF84?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cn-layoutBlock__container">
      <div class="cn-layoutBlock__container__title">
        About Christy
      </div>
      <p>
        On a whim over a decade ago, Christy signed up for a weekend metalsmithing class as a creative outlet from her pre-med and psychology studies. As a little luck would have it, on that day she met both her love of working with metal and her now husband. After further pursuing her jewelry studies, she started her business in 2013 in San Francisco, CA. Since then, she has enjoyed creating jewelry and celebrating numerous special occasions with her clients.
      </p>
    </div>
  </div>


  {% include 'featuredin' %}
</main>
