<!-- /templates/product.liquid -->
{% comment %}
  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html
{% endcomment %}


<main class="cn-wrapper cn-wrapper--top">
  <h1>{{ product.title }}</h1>

  <div class="cn-product" itemscope itemtype="http://schema.org/Product">


    <!--LEFT COLUMN-->
    <div class="cn-product__mask">
      {% for image in product.images %}
        {% if image.position == 1 %}
          <img class="cn-product__mask__slide active cn-imageFrame" src="{{ image | img_url : 'master' }}" itemprop="image" alt="original"/>
        {% else %}
          <img class="cn-product__mask__slide cn-imageFrame" src="{{ image | img_url : 'master' }}" alt="original"/>
        {% endif %}
      {% endfor %}
    </div>


    <!--RIGHT COLUMN-->
    <div class="cn-product__details">

      {% if product.images.size > 1 %}
        <div class="cn-product__tnContainer">
          {{ product.images.size }}
          {% for image in product.images %}
            <div class="cn-product__tnContainer__tn" data-index="{{ image.position }}">

              <img
                alt="{{ image.alt }}"
                data-sizes="auto"
                data-src="{{ image | img_url: '300x300', crop: 'bottom' }}"
                data-srcset="{{ image | img_url: '200x200', crop: 'bottom' }} 200w,
                  {{ image | img_url: '300x300', crop: 'bottom' }} 300w"
                class="lazyload"
              />

            </div>
          {% endfor %}
        </div>
      {% endif %}




      <div class="cn-product__options-wrapper">


        <div class="cn-product__price cn-number">
          <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>
        </div>

        <!--
        <form action="/cart/add" method="post">
          <div id="product-variants">
              <div id="price-field"></div>
              <select id="product-select" name="id">
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {% endfor %}
              </select>
          </div>
          <input type="image" src="{{ 'purchase.png' | asset_url }}" name="add" value="Purchase" id="purchase" />
        </form>
        -->




        <form action="/cart/add" method="post">



          <select name="id" id="productSelect">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {% endfor %}
          </select>


<!--
          <select name="id" id="productSelect">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
-->

          <!--<div id="infiniteoptions-container"></div>-->


          {% if product.metafields.details.measurements %}
            <div class="selector-wrapper">
              <label for="Measurements">Measurements</label>
              <p>{{ product.metafields.details.measurements }}</p>
            </div>
          {% endif %}


          <div class="selector-wrapper">
            <label for="Quantity">Quantity</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" max="9999">
          </div>


          <div class="selector-wrapper">
            <label></label>
            <button type="submit" class="dark" id="AddToCart">add to cart</button>
          </div>

        </form>



        <div class="cn-product__status">
          {% if product.available == false %}
            <div class="product-mark sold-out">sold out</div>
          {% endif %}
        </div>
      </div>

      <div class="cn-product__excerpt">
        <p>{{ product.description }}</p>
      </div>
    </div>

  </div>



  <div class="cn-product__related">
    {% section 'related-products' %}
  </div>

</main>


{{ 'lazysizes.min.js' | asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}




<script>

  Shopify.OptionSelectors.prototype.buildSelectors = function() {
      for (var t = 0; t < this.product.optionNames().length; t++) {
          var e = new Shopify.SingleOptionSelector(this,t,this.product.optionNames()[t],this.product.optionValues(t));
          e.element.disabled = !1,
          this.selectors.push(e)
      }
      var o = this.selectorDivClass
        , i = this.product.optionNames();
      return Shopify.map(this.selectors, function(t) {
          var e = document.createElement("div");
          if (e.setAttribute("class", o),
          i.length > 0) {
              var r = document.createElement("label");
              r.htmlFor = t.element.id,
              r.innerHTML = t.name,
              e.appendChild(r)
          }
          return e.appendChild(t.element),
          e
      })
  }





  // thumbnail click handler
	function thumbnailClickEvent() {
		var productTn = document.querySelectorAll('.cn-product__tnContainer__tn');

		for (var i = 0; i < productTn.length; i++) {
			productTn[i].addEventListener('click', function(){
				var clicked = this.dataset.index-1;
				var slides = document.querySelectorAll('.cn-product__mask__slide');

				for (var i = 0; i < slides.length; i++) {
					slides[i].classList.remove('active');
				}
				slides[clicked].classList.add('active');
			}, false);
		}
	}

	thumbnailClickEvent();




  // option selection handler
  jQuery(function($) {

    var selectCallback = function(variant, selector) {
      console.log(variant);
      console.log(selector);


      if (variant) {
        if (variant.available) {
          // Selected a valid variant that is available.

          // $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
        } else {
          // Variant is sold out.


          // $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
        }
        // Whether the variant is in stock or not, we can update the price and compare at price.
        if ( variant.compare_at_price > variant.price ) {
          // $('#price-field').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "")+ '</s>');
        } else {
          // $('#price-field').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "") + '</span>' );
        }
      } else {
        // variant doesn't exist.
        // $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
      }

    }


    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback
    });

  });
</script>