<!-- /templates/product.liquid -->
{% comment %}
  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html
{% endcomment %}




{% assign is_wholesale = false %}
{% assign ship_time = '4-5 weeks' %}
{% assign ship_product = 'jewelry pieces' %}

{% if shop.url contains 'wholesale' %}
  {% assign is_wholesale = true %}
{% endif %}

{% if product.type == 'Rings' %}
  {% assign ship_product = 'rings' %}
  {% assign ship_time = '3-4 weeks' %}
{% endif %}

{% if product.tags contains 'Diamond Ring' %}
  {% assign ship_product = 'rings that contain stones' %}
  {% assign ship_time = '4-5 weeks' %}
{% endif %}

{% if product.type == 'Earrings' or product.type == 'Necklaces' %}
  {% assign ship_product = 'necklaces and earrings' %}
  {% assign ship_time = '1-2 weeks' %}
{% endif %}




<main class="main--top main--bottom cn-wrapper cn-wrapper--product">
  <h1>{{ product.title }}</h1>

  <div class="cn-product" itemscope itemtype="http://schema.org/Product">


    <!--LEFT COLUMN-->
    <div class="cn-product__mask{% if product.type == 'Gift Card' %} cn-product__mask--giftCard{% endif %}">
      {% for image in product.images %}
        <picture>
            <source srcset="{{ image | img_url: '710x710' }}" media="(max-width: 375px)" />
            <source srcset="{{ image | img_url: '220x220', crop: 'bottom' }}" media="(max-width: 375px)" />
          {% if product.type == 'Gift Card' %}
            <img class="lazyload cn-product__mask__slide active" src="{{ image | img_url : '1968x1968' }}" itemprop="image" alt="Christy Natsumi Gift Card Image"/>
          {% elsif image.position == 1 %}
            <img class="lazyload cn-product__mask__slide active cn-imageFrame" src="{{ image | img_url : '1928x1928' }}" itemprop="image" alt="Christy Natsumi Product Image"/>
          {% else %}
            <img class="lazyload cn-product__mask__slide cn-imageFrame" src="{{ image | img_url : '1928x1928' }}" alt="Christy Natsumi Product Image"/>
          {% endif %}
        </picture>
      {% endfor %}
    </div>


    <!--RIGHT COLUMN-->
    <div class="cn-product__details">

      {% if product.images.size > 1 %}
        <div class="cn-product__tnContainer">
          {% for image in product.images %}
            <div class="cn-product__tnContainer__tn" data-index="{{ image.position }}">
              <picture>
                <source srcset="{{ image | img_url: '220x220', crop: 'bottom' }}" media="(max-width: 375px)" />
                <source srcset="{{ image | img_url: '420x420', crop: 'bottom' }}" media="(min-width: 376px) and (max-width: 959px)" />
                <img class="lazyload" src="{{ image | img_url: '280x280', crop: 'bottom' }}" alt="Christy Natsumi Product Thumbnail"/>
              </picture>
            </div>
          {% endfor %}
        </div>
      {% endif %}


      <div class="cn-product__options">
        <div class="content-wrapper">
          {% if shop.url contains "wholesale" %}
            <label for="Price">wholesale <br/>price</label>
          {% else %}
            <label for="Price">price</label>
          {% endif %}
          <div class="cn-product__price" id="js-ProductPrice">{{ current_variant.price | money }}</div>
        </div>

        {% if is_wholesale %}
          <div class="content-wrapper">
            <label>wholesale <br/>sku</label>
            <p id="js-ProductSku"></p>
          </div>
        {% endif %}

        <form action="/cart/add" method="post">
          <select name="id" id="js-ProductSelect">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {% endfor %}
          </select>


          {% if product.metafields.details.measurements %}
            <div class="content-wrapper">
              <label for="Measurements">Measurements</label>
              <p>{{ product.metafields.details.measurements }}</p>
            </div>
          {% endif %}


          <div class="content-wrapper">
            <label>Quantity</label>
            <input type="number" name="quantity" value="1" min="1" max="9999">
          </div>


          <div class="content-wrapper">
            <label></label>
            <button type="submit" class="button--dark" id="js-AddToCart">add to cart</button>
          </div>
        </form>
      </div>


      <div class="cn-product__textTabs">
        {% if product.description %}
          <div class="cn-product__textTabs__tab">
            <span>description</span>
          </div>
        {% endif %}
          <div class="cn-product__textTabs__tab">
            <span>delivery</span>
          </div>
          <div class="cn-product__textTabs__tab">
            <span>returns</span>
          </div>
      </div>


      <div class="cn-product__textBlocks">
        {% if product.description %}
          <div class="cn-product__textBlock">
            <p>{{ product.description }}</p>
          </div>
        {% endif %}
          <div class="cn-product__textBlock">
            <p></p>
            {% if is_wholesale %}
              <p>
                All wholesale jewelry is made to order in our San Francisco workshop. Delivery times will vary based on your order size, however average around 4-5 weeks.
              </p>
            {% else %}
              <p>
                All {{ ship_product }} are made to order in our San Francisco workshop. Please allow {{ ship_time }} between the time your order was placed and the day it ships to you.
              </p>
            {% endif %}
            <p>
              If you need your jewelry sooner, please specify in the <b>special requests</b> box on the shopping cart page. We will do our best to accommodate your request and will contact you if we can&#39;t.
            </p>
            <p>
              <a href="/pages/contact">Reach out to us here</a> if you have any questions.
            </p>
          </div>
          <div class="cn-product__textBlock">
            <p></p>
            {% if product.type != 'Gift Card' %}
              {% assign is_clearance = false %}
              {% if product.tags contains 'Clearance' %}
                {% assign is_clearance = true %}
              {% endif %}

              {% if is_clearance %}
                <p>This product is part of a special promotion and cannot be returned or refunded. All sales are final.</p>
              {% else %}
                <p>
                  Merchandise in new and unworn condition, in it&#39;s original packaging may be returned within seven days of receipt, excluding shipping costs. Customers are responsible for return shipping. Please note that we are not responsible for lost or stolen items in the mail. When returning your merchandise we strongly suggest adding insurance to the shipment for the dollar amount of the merchandise.
                </p>
                <p>
                  Custom and customized jewelry, sale items, and any rings in special sizes are non-refundable.
                </p>
                <p>
                  Please <a href="/pages/contact">contact us</a> for a return authorization code. Returned merchandise without a code will not be accepted.
                </p>
              {% endif %}
            {% else %}
              <p>
                All gift card sales are final.
              </p>
            {% endif %}
            <p></p>
          </div>
      </div>


    </div>
  </div>

  {% if product.type != 'Gift Card' %}
    {% section 'related-products' %}
  {% endif %}
</main>


{{ 'option_selection.js' | shopify_asset_url | script_tag }}


<script>

  // thumbnail click handler
	function thumbnailClickEvent() {
		var productTn = document.querySelectorAll('.cn-product__tnContainer__tn');

		for (var i = 0; i < productTn.length; i++) {
			productTn[i].addEventListener('click', function(){
				var clicked = this.dataset.index-1;
				var slides = document.querySelectorAll('.cn-product__mask__slide');

				for (var i = 0; i < slides.length; i++) {
					slides[i].classList.remove('active');
				}
				slides[clicked].classList.add('active');
			}, false);
		}
	}

	thumbnailClickEvent();


  // tab click handler
	function tabClickEvent() {
		var tabs = document.querySelectorAll('.cn-product__textTabs__tab');
		var textBlocks = document.querySelectorAll('.cn-product__textBlock');

    tabs[0].classList.add('active');
    textBlocks[0].classList.add('active');

		for (var i = 0; i < tabs.length; i++) {
			tabs[i].addEventListener('click', function(){
				var clicked = $('.cn-product__textTabs__tab').index(this);
				var textTabs = document.querySelectorAll('.cn-product__textTabs__tab');
				var textBlocks = document.querySelectorAll('.cn-product__textBlock');

				for (var i = 0; i < textBlocks.length; i++) {
					textTabs[i].classList.remove('active');
					textBlocks[i].classList.remove('active');
				}
				textTabs[clicked].classList.add('active');
				textBlocks[clicked].classList.add('active');
			}, false);
		}
	}

	tabClickEvent();


  jQuery(function($) {
    var priceFormatter = function(priceStr) {
      var chopDolla = priceStr.slice(1, priceStr.length);
      var chopCents = chopDolla.slice(0, chopDolla.length - 3);
      return chopCents;
    }


    // when an option is selected
    var selectCallback = function(variant, selector) {

      if (variant) {
        if (variant.available) {
          // Selected a valid variant that is available.
          $('#js-AddToCart').val('Add to Cart').html('Add to Cart').removeClass('disabled').removeAttr('disabled');
        } else {
          // Variant is sold out.
          $('#js-AddToCart').val('Sold Out').html('Sold Out').addClass('disabled').attr('disabled', 'disabled');
        }
        // Whether the variant is in stock or not, we can update the price and compare at price.
        if ( variant.compare_at_price > variant.price ) {
          $('#js-ProductPrice').html('<span>' + priceFormatter( Shopify.formatMoney(variant.price) ) + '</span>' + '<span class="compare-price">' + priceFormatter( Shopify.formatMoney(variant.compare_at_price) ) + '</span>');
        } else {
          $('#js-ProductPrice').html('<span>'+ priceFormatter( Shopify.formatMoney(variant.price) ) + '</span>' );
        }
      } else {
        // variant doesn't exist.
        $('#js-AddToCart').val('Unavailable').html('Unavailable').addClass('disabled').attr('disabled', 'disabled');
      }

      $('#js-ProductSku').html('<span>'+ variant.sku + '</span>');

      // js is done loading, now we can show
      $('.cn-product__options').show();
    }


    new Shopify.OptionSelectors('js-ProductSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback
    });

    // Add first variant label if only one and it isn't 'Title'. Could be 'Size' or 'Metal' for example.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}

  });
</script>